<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.moviedetail">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_movie_detail">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.moviedetail.MovieDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/Theme.SampleMovieApp.NoActionBar">
            <nav-graph android:value="@navigation/nav_graph_movie_detail" />
        </activity>
    </application>

</manifest>