<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.movie_detail">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_movie_detail">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".deeplink.MovieDetailDeeplink"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="detail" android:host="example.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/Theme.SampleMovieApp.NoActionBar"></activity>
    </application>

</manifest>